* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  width: 550px;
  height: 704px;
  flex-shrink: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: #F55A5A;;
  width: 100%;
}

.header-icon {
  flex-shrink: 0;
  margin-left: 0;
  margin-top: 1.8rem;
  margin-right: 0.5rem;

}

h1 {
  text-align: center;
  color: whitesmoke;
}